Assignment*
*/Assignment*
*/*/Assignment*
*/*/*/Assignment*
Homework*
*/Homework*
*/*/Homework*
*/*/*/Homework*
*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
.vs
*/Slides
*/Generic
*/*/Generic
*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory
.Rproj.user
*/data/*
